<div class="row wrapper border-bottom white-bg page-heading">
    <div class="functionnal-btns pull-left">
        <span class="btn btn-sm btn-white" ng-click="testCtrl.notify_students()"><i class="fa fa-send"></i> Notify Students</span>
        <span class="btn btn-sm btn-white" ng-click="testCtrl.share()"><i class="fa fa-share-alt"></i> Share Test</span>
        <span class="btn btn-sm btn-white" ng-click="testCtrl.more()"><i class="fa fa-info"></i> Details</span>
    </div>

    <div class="page-title">
        <span ng-bind="testCtrl.test.code"> </span>,
        <span ng-bind="testCtrl.test.classroom.name"> </span>
    </div>

</div>

<div class="row">
    <div class="main-window">
        <div excel-view headers="testCtrl.headers" model="testCtrl.StudentsModel" view-id="test-view-{{testCtrl.id}}"> </div>
    </div>
</div>

<div share-elt-modal elt="testCtrl.shareCtrl.elt" share="testCtrl.shareCtrl.share(email)"
     working="testCtrl.shareCtrl.working" error="testCtrl.shareCtrl.error"
     class="modal inmodal" id="share-elt-modal" tabindex="-1" role="dialog"  aria-hidden="true" data-backdrop="static">
</div>

<div test-properties-modal elt="testCtrl.propCtrl.elt" publish="testCtrl.propCtrl.publish(comment)"
     addfile="testCtrl.propCtrl.addFile(file)" properties="testCtrl.propCtrl.properties" working="testCtrl.propCtrl.working"
     error="testCtrl.propCtrl.error" comments="testCtrl.propCtrl.comments" olds="testCtrl.propCtrl.olds"
     files="testCtrl.propCtrl.files"
     class="modal inmodal" id="test-properties-modal" tabindex="-1" role="dialog"  aria-hidden="true" data-backdrop="static">
</div>
